.nav2{
    /* background-image: url('../imgHeader2/faja-01.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 120px;
    width: 100%; */
    /* height: 100px; */
    /* height: 200px; */
}

