.sidebar-menu{
    font-family: 'Oswald', sans-serif;
    letter-spacing:1px;
    width: 50%;
}

.sidebar-menu a img {
    width: 64%;
}
.sb-titulo{
    color: rgb(87, 87, 87);
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.sb-opciones{
    color:  rgb(120, 120, 120);
    text-decoration: none;
    font-size: 13px;
    font-weight: lighter;
}