.sidebar-menu{
    font-family: 'Oswald', sans-serif;
    letter-spacing:1px;
   
}

.sb-img{
    height: 250px;
    width: 250px;
    margin-bottom: 6px;
}
.sb-titulo{
    color: rgb(87, 87, 87);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.sb-opciones{
    color:  rgb(120, 120, 120);
    text-decoration: none;
    font-size: 16spx;
    font-weight: lighter;
}